<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
<p-toolbar>
    <ng-template #start>
        <p-button icon="pi pi-plus" class="mr-2" text severity="secondary" />
    </ng-template>
    <ng-template #center>
        <app-search></app-search>
    </ng-template>
    <ng-template #end>
        <div class="flex align-items-center gap-4">
            <i class="pi text-xl" [ngClass]="{'pi-trash': selectedAction === 'delete', 'pi-pencil': selectedAction === 'edit'}"></i>
            <p-select
                    class="w-full" 
                    [options]="items" 
                    [(ngModel)]="selectedAction" 
                    optionLabel="label" 
                    optionValue="value"
                    inputId="over_label" 
                    placeholder="اختر الإجراء"
                    [showClear]="true" 
                    [checkmark]="true">
                </p-select>
        </div>
    </ng-template>
</p-toolbar>
<p-dialog [header]="selectedAction === 'delete' ? 'حذف': 'تعديل'" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    @if (selectedAction === 'delete') {
        <app-delete-product (deleted)="onProductDeleted($event)" [product]="selectedProduct"></app-delete-product>
    } @else {

    }
</p-dialog>
<app-product-list (onClick)="selectProduct($event)" [isDashboard]="true"></app-product-list>