<!-- TODO Implement animate on scroll component -->
<div class="bg-[var(--p-secondary-900)] grid grid-nogutter text-800 h-[92.5dvh]">
    <div class="col-12 md:col-6 p-6 text-center md:text-right flex align-items-center justify-content-center">
        <section>
            <span class="block text-6xl font-bold mb-1">خيارك الأول</span>
            <div class="text-6xl text-primary font-bold mb-3">تستحق افضل الموجود</div>
            <p class="mt-0 mb-4 text-700 line-height-3">جد خيارات متنوعة من المنتجات التقنية الجديدة او المستعملة بحالة ممتازة في هوهينهايم ستور</p>

            <button pButton pRipple label="تعرف على المزيد" type="button" class="ml-4 p-button-raised hover:text-[var(--p-primary-500)]"></button>
            <button pButton pRipple label="تصفح المنتجات" type="button" class="p-button-outlined"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden flex justify-content-center">
        <img src="assets/images/blocks/hero-2.png" alt="Image" class="md:ml-auto md:h-full"
            style="">
    </div>
</div>
<div class="bg-[var(--p-secondary-800)] px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">منتجات متنوعة, </span>
        <span class="text-[var(--p-primary-500)]">جودة عالية</span>
    </div>
    <div class="text-700 mb-6">اكتشف أفضل المنتجات التقنية بأفضل الأسعار، مع خدمة شحن موثوقة ودعم فني ممتاز.</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block bg-[var(--p-secondary-900)]" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-[var(--p-primary-500)]"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">منتجات تقنية للمطورين</div>
            <span class="text-700 line-height-3">استعرض أفضل الأدوات والحلول التقنية التي تساعد المطورين في إنجاز
                مشاريعهم بكفاءة عالية.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block bg-[var(--p-secondary-900)]" style="border-radius: 10px">
                <i class="pi pi-lock text-4xl text-[var(--p-primary-500)]"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">أمان كامل للبيانات</div>
            <span class="text-700 line-height-3">نحن نهتم بأمان بياناتك ونستخدم تقنيات تشفير متطورة لضمان حماية
                المعلومات الشخصية.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block bg-[var(--p-secondary-900)]" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-[var(--p-primary-500)]"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">سهولة الاستخدام</div>
            <span class="text-700 line-height-3">نظامنا سهل الاستخدام ويتيح لك التصفح والتسوق بكل سهولة وراحة.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block bg-[var(--p-secondary-900)]" style="border-radius: 10px">
                <i class="pi pi-globe text-4xl text-[var(--p-primary-500)]"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">دعم سريع وعالمي</div>
            <span class="text-700 line-height-3">نحن نقدم لك دعم فني سريع على مدار الساعة، مع خدمة شحن عالمية لأماكن
                متعددة.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block bg-[var(--p-secondary-900)]" style="border-radius: 10px">
                <i class="pi pi-github text-4xl text-[var(--p-primary-500)]"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">منتجات مفتوحة المصدر</div>
            <span class="text-700 line-height-3">اكتشف مجموعة من المنتجات المفتوحة المصدر التي تساعدك في تطوير مشاريعك
                التقنية.</span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block bg-[var(--p-secondary-900)]" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-[var(--p-primary-500)]"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">أمان موثوق</div>
            <span class="text-700 line-height-3">نحن نضمن لك أمانًا موثوقًا مع أعلى مستويات الأمان لحماية بياناتك
                الشخصية.</span>
        </div>
    </div>
</div>
<div class="bg-[var(--p-secondary-900)]  px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3"></div>
        <div class="text-900 font-bold text-5xl mb-3">Join Our Design Community</div>
        <div class="text-700 text-2xl mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam
            eligendi quos.</div>
        <button pButton pRipple label="Join Now" icon="pi pi-discord"
            class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
    </div>
</div>