<footer class="bg-[var(--p-secondary-900)] text-white px-4 py-8 md:px-6 lg:px-8 border-t border-[var(--p-secondary-800)] footer">
    <div class="grid text-center md:text-left">
        <div class="col-12 md:col-4 mb-6 flex justify-center">
            <img src="assets/icons/Logo.png" alt="Logo" style="height: 10rem; width: auto;">
        </div>
        <div class="col-12 md:col-4 mb-6 text-center md:text-right">
            <h3 class="text-xl font-bold mb-3">روابط سريعة</h3>
            <ul class="list-none p-0 m-0 space-y-2">
                <li><a href="#" class="text-700 hover:text-[var(--p-primary-400)] transition-colors">المنتجات</a></li>
                <li><a href="#" class="text-700 hover:text-[var(--p-primary-400)] transition-colors">من نحن</a></li>
                <li><a href="#" class="text-700 hover:text-[var(--p-primary-400)] transition-colors">اتصل بنا</a></li>
                <li><a href="#" class="text-700 hover:text-[var(--p-primary-400)] transition-colors">الأسئلة الشائعة</a>
                </li>
            </ul>
        </div>
        <div class="col-12 md:col-4 mb-6 text-center">
            <h3 class="text-xl font-bold mb-6">تابعنا</h3>
            <div class="flex justify-center gap-4 md:justify-content-around space-x-4 rtl:space-x-reverse">
                <a href="#" class="text-[var(--p-primary-400)] text-xl hover:text-white m-0"><i
                        class="pi pi-twitter text-6xl"></i></a>
                <a href="#" class="text-[var(--p-primary-400)] text-xl hover:text-white m-0"><i
                        class="pi pi-instagram text-6xl"></i></a>
                <a href="#" class="text-[var(--p-primary-400)] text-xl hover:text-white m-0"><i
                        class="pi pi-discord text-6xl"></i></a>
            </div>
        </div>
    </div>
    <div class="mt-2 border-t border-[var(--p-secondary-800)] pt-4 text-center text-700 text-sm">
        © 2025 Hohenheim Store. جميع الحقوق محفوظة.
    </div>
</footer>