<div
    class="bg-[var(--p-secondary-900)] cursor-pointer hover:bg-[var(--p-secondary-700)] border-1 flex flex-column surface-border border-round-xl md:m-4 py-5 px-3">
    <div
        class="image-container h-15rem w-full bg-black flex justify-content-center align-items-center p-3 border-round-lg mb-3">
        <img [src]="product.productImages[0]?.imageUrl" [alt]="product.name" class="product-img" />
    </div>

    <div class="h-8rem w-full flex flex-column px-2 justify-content-between">
        <div class="flex flex-col">
            <h2 class="text-limit md:text-lg lg:text-xl m-0">
                {{ product.name }}
            </h2>
            <h3 class="text-limit md:text-base lg:text-lg mt-1">
                {{ product.category.categoryName }}
            </h3>
        </div>

        <div class="flex gap-2 w-[1.2rem] align-items-center">
            <p class="md:text-2xl lg:text-3xl mt-1 font-bold">
                {{ product.unitPrice }} 
            </p>
            <img class="w-full" src="assets/icons/Saudi_Riyal_Symbol.svg">
        </div>
    </div>
</div>