<nav *ngIf="!isHidden" class="navbar py-3 px-3 shadow-2 flex align-items-center justify-content-between gap-4 border-bottom-1 border-gray-800"
  [ngClass]="{ 'navbar-blur': navbarScrolled, }" dir="rtl">
    <div class="flex align-items-center gap-4">
        <a class="cursor-pointer" (click)="redirectTo('')"><img src="assets/icons/Logo.png" alt="Logo" style="height: 64px; width: auto;"></a>
        <div class="hidden md:flex">
            <app-nav-items class="flex flex-row gap-8"></app-nav-items>
        </div>
    </div>
    <p-button class="md:hidden flex" icon="pi pi-bars" aria-label="Save" variant="text" [raised]="true" (onClick)="showSideBar=true"></p-button>
    <div class="hidden md:flex align-items-center gap-4">
        <app-search></app-search>
    </div>
</nav>

<p-drawer [(visible)]="showSideBar">
    <div class="flex flex-col align-items-center gap-4">
        <app-search></app-search>
        <app-nav-items class="flex flex-col gap-5 align-items-center"></app-nav-items>
    </div>
</p-drawer>
