.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100% - var(--scrollbar-width, 0px));
    z-index: 1100;
    background-color: var(--p-secondary-900);
    border-bottom: 1px solid transparent;
    transition: background-color 0.5s, border-color 0.5s ease;
    backdrop-filter: none;
}

.navbar-blur {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid var(--p-surface-500);
}