<nav class="bg-[var(--color-primary)] text-[var(--color-text-primary)] py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static border-bottom-1 border-gray-800" dir="rtl">
    <div class="flex align-items-center gap-4">
        <a><img src="assets/icons/Logo.png" alt="Logo" style="height: 64px; width: auto;"></a>
        <a class="cursor-pointer hover:text-[var(--color-text-secondary)]">الرئيسية</a>
        <a class="cursor-pointer hover:text-[var(--color-text-secondary)]">المنتجات</a>
        <a class="cursor-pointer hover:text-[var(--color-text-secondary)]">من نحن</a>
    </div>
    <div class="flex align-items-center gap-4">
        <input pInputText type="text" [(ngModel)]="value" placeholder="بحث..." class="w-15rem" />
    </div>
</nav>
